{% extends 'default.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
    {% if page.header.show_label or page.header.show_blurb %}
        <div class="content wrap book-page booklist-page">
            {% if page.header.show_label %}<div class="header">{{ page.title }}</div>{% endif %}
            {% if page.header.show_blurb %}{{ page.content }}{% endif %}
        </div>
    {% endif %}

    {% for p in collection %}
        <div class="content wrap book-page">
            {% include 'partials/book.html.twig' with {'p':p,'reviews':page.header.show_reviews,'excerpt':page.header.show_excerpts} %}
        </div>
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        <div class="pagination-wrap">
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        </div>
    {% endif %}
{% endblock content %}