{% extends 'default.html.twig' %}

{% block content %}

  <div class="content book-page wrap">
    {% include 'partials/book.html.twig' with {'p':page,'reviews':page.header.show_reviews,'excerpts':page.header.show_excerpts} %}
  </div>

{% endblock content %}
